.venv
__pycache__
*.pyc
.DS_Store
node_modules
.env
.env.local
local.settings.json
.vscode
*json
*/.azurite/*
devjudge-backend/.azurite
.codex
azurite-debug.log
AzuriteConfig
azurite-data
__blobstorage__
__queuestorage__
